<hgroup class="page-header">
  <h1>{{ gallery.title }}</h1>
</hgroup>

<ol class="breadcrumb" ng-controller="NavigationController">
  <li>
    <a href ng-click="rootPath()">
      Home
    </a>
  </li>
  <li>
    <a href ng-click="galleriesPath()">
      Galleries
    </a>
  </li>
  <li class="active">
    <a href ng-click="currentPath()">
      {{ gallery.title }}
    </a>
  </li>
</ol>

<div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="image in gallery.images">
    <div class="thumbnail">
      <a href ng-click="imagePath(image)">
        <img ng-src="{{ image.image_url }}" alt="{{ image.title }}">
      </a>
      <div class="caption">
        <h3>
          <a href ng-click="imagePath(image)">
            {{ image.title }}
          </a>
        </h3>

        <p>
          {{ image.description }}
        </p>
      </div>
    </div>
  </div>
</div>
